<div class="userHome">
<form style="text-align:center">
	<h1 style="color:orange">You are On Welcome Page</h1>
	<button type="submit" ng-click="myProfile()">My Profile</button>
	<button type="submit" ng-click="logout()" >Logout</button>
	
		<table ng-show="dtDetails" align="center" >
			<p ng-show="dtDetails" >MyDetails</p>
			<thead>
				<tr>
				<th>keyword search by the user</th>
				</tr>
			</thead>
			<tbody>
				
<td><a href="#pic1"><button type="submit">Ratan Tata</button></a></td>


				</tr>
				<tr>
				<td><a href="#pic2"><button type="submit">A P j Kalam</button>
				</a></td>

				</tr>
				<tr>
				<td><a href="#pic3"><button type="submit">Steve Jobs</button>
				</a></td>
				</tr>
				<tr>
				<td><a href="#pic4"><button type="submit">Warren Buffet</button>
				</a></td>

				</tr>
				<td><a href="#pic5"><button type="submit">Bruce Lee</button>
				</a></td>

				</tr>

			</tbody>
		</table>
</form>
</div>