<div class="userLogin" ng-controller="userLoginCntrl">
<form style="text-align:center" class="row" ng-hide="x">
	<strong><h3><p>User Login Details</p></h3></strong><br>
    User Name:<input type="text" ng-model="dr.userName"><br><br>
    Password:<input type="password" ng-model="dr.password"><br><br>
   <button type="submit" ng-click="login()">Login</button>
    <a href="#userRegister"><button type="submit">User Registration</button></a> 
    <br><br><strong><a href="#userLogin">Forgot Password</a></strong>
</form>
</div>